<?php

# vi set ai syntax=php

require_once('lib/main.php');

#error_reporting( -1 );
#ini_set( 'display_errors', 1 );

/**
 * WebPlatform Blog
 *
 * See also:
 *  * http://generatewp.com/wp-config/
 **/

define('WP_HOME',    'http://' . $_SERVER['SERVER_NAME']);
define('WP_SITEURL', 'http://' . $_SERVER['SERVER_NAME'] . '/wordpress');
define('WP_CONTENT_DIR', $_SERVER['DOCUMENT_ROOT'] . '/wp-content');
define('WP_CONTENT_URL', 'http://' . $_SERVER['SERVER_NAME'] . '/wp-content');
define('VHOST_URL', 'http://blog.webplatformstaging.org');

## Enforce SSL:
##  * http://www.wpwhitesecurity.com/wordpress-security/definitive-guide-wordpress-ssl-setup/
#define('FORCE_SSL_LOGIN', true);
#define('FORCE_SSL_ADMIN', true);

/**
 * Production friendly settings
 **/
define('DISABLE_WP_CRON', true);  ## This should be set to true, otherwise it might self-hammer the site
define('WP_CACHE', true);
define('WP_POST_REVISIONS', 3);
define('W3TC_EDGE_MODE', true); // Added by W3 Total Cache
define('WP_DEFAULT_THEME', 'webplatform');

#define('DISABLE_CACHE', true);
define('WP_DEBUG_LOG', false);
define('WP_DEBUG', false);

/**
 * Database configuration
 */
define('DB_NAME', 'wordpress');
define('DB_USER', 'root');
define('DB_PASSWORD', '');
define('DB_HOST', 'localhost');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');

// Generate new ones https://api.wordpress.org/secret-key/1.1/salt/
define('AUTH_KEY',         'put your secret here');
define('SECURE_AUTH_KEY',  'put your secret here');
define('LOGGED_IN_KEY',    'put your secret here');
define('NONCE_KEY',        'put your secret here');
define('AUTH_SALT',        'put your secret here');
define('SECURE_AUTH_SALT', 'put your secret here');
define('LOGGED_IN_SALT',   'put your secret here');
define('NONCE_SALT',       'put your secret here');

